{% assign navHasH1 = include.h1 %}

<div class="header-wraper">
  <header class="main-header">
    {% if navHasH1 == nil or navHasH1 == true %}
    <h1>Francis Rubio</h1>
    {% else %}
    <p class="h1">Francis Rubio</p>
    {% endif %}
    <p>Web developer. Web designer. Educator.</p>
  </header>
  <nav class="main-nav">
    <ul>
      <li><a href="{{ site.url }}">Frontpage</a></li>
      <li><a href="{{ site.url }}/writing/">Writing</a></li>
      <li><a href="{{ site.url }}/speaking/">Speaking</a></li>
      <li><a href="{{ site.url }}/projects/">Projects</a></li>
    </ul>
  </nav>
</div>