/*=== COLORS ===*/

:root {
	/* Theme Colors */
	--f-red: #f94144;
	--f-orange: #f3722c;
	--f-yellow: #f9c74f;
	--f-ponkan: #f3722c;
	--f-green: #90be6d;
	--f-teal: #43aa8b;
	--f-indigo: #577590;

	/* Text Colors */
	--fg-color: #000;
	--body-color: #212121;

	--bg-color: #fff;
}

@media (prefers-color-scheme: dark) {
	body,
	img,
	svg,
	video,
	iframe {
		filter: invert(1);
		background-color: transparent;
	}

	body {
		background-color: #000;
	}
}
