---
layout: default
type: index
permalink: /writing/
redirect_from: 
  - /pages/blog/
  - /blog/
---

{% include nav.html %}
<main class="page page--blog">
  <section class="page__section">
    <header>
      <h2>Writing</h2>
    </header>
    <div class="posts-grid">
      {% for post in site.posts %}
      {% if post.description != null %}
        {% assign description = post.description %}
      {% else %}
        {% assign description = post.summary %}
      {% endif %}

      <article class="card card--post">
        <header>
          <h3 class="card__title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
          <h4 class="card__category">{{ post.category }}</h4>
        </header>
        <p>
          {{ description }}
        </p>
        <footer>
          <time aria-label="Date published" class="card__pubdate" datetime="{{ post.date | date: "%F" }}">{{ post.date | date: "%b-%d-%Y" }}</time>
        </footer>
      </article>
      {% endfor %}
      <article class="card card--post"></article>
    </div>
  </section>
  <section class="page__banner">
    <p>I also write tech stuff in Filipino. Check out <a href="https://antaresprogramming.github.io/" target="_blank" rel="noopener">Antares Programming</a>.</p>
  </section>
</main>

{% include footer.html %}