---
layout: default
permalink: /projects/
---
{% include nav.html h1=false %}

<main class="page page--blog page--speaking">
  {% assign min = 50 %}
  {% assign max = 75 %}
  {% assign diff = max | minus: min %}
  {% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: min %}
  <section class="page__section" style="overflow: hidden; --circle-size: {{ randomNumber }}vw;">
    <header>
      <h1>Projects</h1>
    </header>
    <div class="posts-grid">
      {% assign sortedProjects = site.projects | sort: 'date' | reverse %}
      {% for post in sortedProjects %}
      <article class="card card--talk">
        <img src="{{ site.url }}{{ post.img.path }}" alt="{{ post.img.alt }}" width="1080" height="1080">
        <header>
          <h3 class="card__title"><a id="{{ post.name | slugify }}" {% if post.link != nil %} href="{{ post.link }}" {% endif %}>{{ post.name }}</a></h3>
          <h4 class="card__category">{{ post.category }}</h4>
          {% if post.link != nil %}
          <a href="{{ post.link }}" class="talk-url">{{ post.link }}</a>
          {% endif %}
        </header>
        <p>
          {{ post.description }}
        </p>
        {% assign content = post.content | strip_newlines %}
        {% if content != "" %}
        <section class="card__details">
          <details>
            <summary class="btn">Details</summary>
            {{ content | markdownify }}
          </details>
        </section>
        {% endif %}
        <footer>
          <time aria-label="Date published" class="card__pubdate" datetime="{{ post.date | date: '%F' }}">{{ post.date | date: "%b-%d-%Y" }}</time>
        </footer>
      </article>
      {% endfor %}
    </div>
  </section>
</main>

{% include footer.html %}