---
layout: default
permalink: /projects/
---
{% include nav.html h1=false %}

<main class="page page--blog page--speaking">
  {% assign min = 50 %}
  {% assign max = 75 %}
  {% assign diff = max | minus: min %}
  {% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: min %}
  <section class="page__section" style="overflow: hidden; --circle-size: {{ randomNumber }}vw;">
    <header>
      <h1>Projects</h1>
    </header>
    <div class="posts-grid">
      {% for post in site.data.projects %}
      <article class="card card--talk">
        <img src="{{ site.url }}{{ post.img.path }}" alt="{{ post.img.alt }}" width="1080" height="1080">
        <header>
          <h3 class="card__title"><a id="{{ post.name | slugify }}" {% if post.url != nil %} href="{{ post.url }}" {% endif %}>{{ post.name }}</a></h3>
          <h4 class="card__category">{{ post.category }}</h4>
          {% if post.url != nil %}
          <a href="{{ post.url }}" class="talk-url">{{ post.url }}</a>
          {% endif %}
        </header>
        <p>
          {{ post.description }}
        </p>
        <section class="card__details">
          <details>
            <summary class="btn">Details</summary>
            {{ post.html_desc }}
          </details>
        </section>
        <footer>
          <time aria-label="Date published" class="card__pubdate" datetime="{{ post.date | date: '%F' }}">{{ post.date | date: "%b-%d-%Y" }}</time>
        </footer>
      </article>
      {% endfor %}
    </div>
  </section>
</main>

{% include footer.html %}