
.btn {
  padding: 1em 2em;

  font-family: var(--sans);
  font-size: 1em;
  font-weight: bold;
  color: var(--fg-color);
  text-decoration: none;
  text-transform: uppercase;
  border: 3px solid var(--fg-color);
  background-size: 100% 0;

  &:hover {
    background-color: #0003;
  }

  &:focus {
    box-shadow:
      0 0 0 3px var(--bg-color),
      0 0 0 6px var(--fg-color);
  }

  &.btn--cta {
    background-color: var(--fg-color);
    color: var(--bg-color);

    &:hover {
      background-color: #000c;
    }
  }
}