---
layout: default
---

{% if page.description != null %}
  {% assign description = page.description %}
{% else %}
  {% assign description = page.summary %}
{% endif %}

{% if page.class != null %}
  {% assign classes = page.class %}
{% else %}
  {% assign classes = "" %}
{% endif %}

{% include nav.html h1=false %}
<main class="page page--post">
  <article class="post {{ classes }}">
    <header>
      <p class="post__category" aria-label="post category">
        <span>{{ page.category }}</span>
        <time aria-label="Date published" class="post__pubdate" datetime="{{ page.date | date: "%F" }}">{{ page.date | date: "%b-%d-%Y" }}</time>
      </p>
      <h1 class="post__title">{% include title.html title=page.title %}</h1>
      {% if description %}
      <h2 class="post__subtitle">{% include title.html title=description %}</h2>
      {% endif %}
    </header>

    <section>
      {{ content }}
    </section>

    <footer>
      <h2>Share this article</h2>
      <label for="permalink" class="visually-hidden">Permalink</label>
      <div class="input-group">
        <input type="url" id="permalink" name="permalink" readonly value="{{ site.url }}{{ page.url}}" class="js-link-to-copy">
        <button class="btn btn--cta js-copy-link">Copy Link</button>
        <label for="permalink" class="input-info js-input-info">Link copied!</label>
      </div>
    </footer>
  </article>
</main>
{% include footer.html %}
